@media screen and (min-width: 1200px) {
    #menu_mobile {
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    #menu_desktop {
        display: none;
    }

    #menu_mobile {
        display: block;
    }

    #menu_mobile .nav > ul {
        list-style: none;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #menu_mobile .nav > ul > li {
        display: block;
        margin-left: 0;
    }
}